/*reset start*/
body, ul{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    
}
/*reset stop*/

/*nav start*/
.nav{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background-color: #08c!important;
}
.container_nav{  
    margin: auto 120px;
    width: 600px;
}
.container_nav>ul{
    display: flex; 
}
.container_nav>ul>li>a{
    margin: 15px;
    position: relative;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 13px;   
}
.container_nav>ul>li>a{
    color: white;
    padding: 15px;
}
.container_nav li:hover a{
    background: white;
    color: black; 
}
.sub{
    padding-left: 10px;
    position: absolute;
    width: 200px;
    margin-left: 15px;
    margin-top: 8px;
    display: none;   
}
.sub ul li{
    border-bottom: 1px solid #f7f7f7;
    padding: 6px 0px;
}
/* .sub>ul>li>a{
   
    font-weight: normal;
} */
.container_nav li:hover .sub{
    display: block;
    background-color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.container_nav li:hover .sub a{
    color: #777;
    font-weight: 100;
}
.container_nav li:hover .sub li{
    margin-left: 5px;
}
.sub_classic{  
    position:absolute;
    margin-left: 200px;
    margin-top: -26px;
    width: 200px;
    display: none;
}
/* .sub_classic ul li a{
    font-family: 'Poppins', sans-serif;
    color: red;
} */
.sub li:hover .sub_classic{
    display: block;
    background-color: white;
    position: absolute;
    left: 10px;    
}
.sub li:hover .sub_classic ul li a{
    color: #777;
    font-weight: 200;
}
.element{
    display: none;
    /* border: 1px solid red;
    position: absolute;
    right: 130px;
    display: flex;
    background-color: white;
    color: #777;
    padding-top: 35px;
    padding-left: 25px;
    font-weight: 200; */
}
.elements{
    /* width: 270px; */
}
.container_nav li:hover .element{ 
    position: absolute;
    right: 130px;
    display: flex;
    background-color: white;
    color: #777;
    padding-top: 15px;
    padding-left: 25px;
    font-weight: 200;
    margin-top: 10px ;
}
.container_nav li:hover .elements{
    width: 270px;
}
.container_nav li:hover .elements p{
    font-size: 16px;
}
/*nav stop*/
/* fon start */
.bacgraund img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
/* fon stop */