.basliq{
    background-color: dimgrey;
    color: white;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif
    
}
.logo{
    display: inline-block;
    margin-top: 22px;
    margin-left: 60px;
    
  
}
.right{
    display: inline-block;
    margin-left: 480px;
    margin-top: 10px;  
    height: 30px;   
}
.servis{
    margin-left: 85px;
}
.info{
    margin-left: 85px;
}
.faq{
    margin-left: 85px;
}
.contact{
    margin-left: 85px;
}
.page{
    height: 329px;
    padding-top: 200px;
    background-image: url(./eskiz/backgraound.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    color: gray;
    font-family: Arial, Helvetica, sans-serif
}
.mauris{
    font-size: 32px;
}
.eleifend{
    font-size: 20px;
}
.lorem{
    font-size: 16px;
}
