.navbar_basliq{
   
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.navbar_logo{
    
}
.navbar_nav{
    
    display: flex;
    justify-content: center;
}
.navbar_button{
    
    
}
.navbar_nav ul li{
    list-style: none;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar_nav ul {
    display: flex;
    margin: 0 25px;
    padding-top: 15px;
    
}
#navbar{
    
    padding: 20px 30px;
    
}
.navbar_button button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 35px

}
.navbar_button button:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    padding: 10px 35px
}
#news{
    border-top: 1px solid darkgray;
}
.news_container{
    
    display: flex;
    justify-content: end;
}
.news_left{
    
    width: 450px;
    padding-top: 80px;
}
.news_left complete{
    border-top: 20px solid blue;
}
.complete{
    width: 200px;
    background-color: rgb(213, 213, 218);
    color: blue;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    
    
    
}
.build{
    color: rgb(3, 3, 22);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;

    
}

.combine{
    color: rgb(14, 14, 46);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20;
}
.mail{
    
    margin-top: 40px;
}
.news_left input{
    height: 50px;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(62, 62, 124);
    border-radius: 2px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.news_left button{
    height: 54px;
    background-color: rgb(62, 62, 124);;
    width: 130px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    
}
